.container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

.message {
    padding: 30px;
    border-radius: 8px;
    width: 500px;
    height:200px;
    
}
.success {
    background-color: #f4d9d9;
    color: #eb2424;
    border: 1px solid #c3e6cb;
    
}

.success h1 {
    margin: 0;
    font-size: 2em;
}
.btn{
    padding:90px;
    display: flex;
    justify-content: space-between;
    
}

.payment{
    width:300px;
    height:30px;
    border-radius: 15px;
    border:none;
    margin-left: -100px;
    font-family: "Poppins";
    font-size:14px;

}
.shop{
    width:100px;
    height:30px;
    border-radius: 15px;
    border:none;
    font-family: "Poppins";
    font-size:14px;
    margin-right:-50px;
}
 .payment:hover{
    background-color: #df5252;
 }
.shop:hover{
    background-color: #df5252;
}